.status-applied {
    color: var(--textPrimary);
  }
  
  .status-interview {
    color: #ffc107;
    font-weight: bold;
  }
  
  .status-rejected {
    color: #ff4f5a;
    text-decoration: line-through;
  }
  
  .status-offer {
    color: #4caf50;
    font-weight: bold;
  }