/* ==========================================================================
     List Styling
     ========================================================================== */
ul {
  list-style-type: none;
}

a.active,
a:hover {
  cursor: pointer;
  transform: scale(1.2);
}
