<section>
  <h1 class="gradient">Track a New Job</h1>
  <ul>
    <li>
      <a
        routerLink="dashboard/new"
        routerLinkActive="active"
        class="new icon gradient border-gradient"
      >
        <i class="fas fa-plus gradient"></i>
        <p class="gradient">Add from URL</p>
      </a>
    </li>
    <li>
        <a
          routerLink="dashboard/new"
          routerLinkActive="active"
          class="new icon gradient border-gradient"
        >
          <i class="fas fa-plus gradient"></i>
          <p class="gradient">Paste Job Description</p>
        </a>
      </li>
      <li>
        <a
          routerLink="dashboard/new"
          routerLinkActive="active"
          class="new icon gradient border-gradient"
        >
          <i class="fas fa-plus gradient"></i>
          <p class="gradient">Upload Screenshot</p>
        </a>
      </li>
  </ul>
</section>
