<footer>
    <nav>
      <ul>
        <li>
          <a routerLink="dashboard/home" routerLinkActive="active" class="icon gradient">
            <i class="fas fa-house gradient"></i>
            <p class="gradient">Home</p>
          </a>
        </li>
        <li>
          <a routerLink="dashboard/jobs" routerLinkActive="active" class="icon gradient">
            <i class="fas fa-briefcase gradient"></i>
            <p class="gradient">Jobs</p>
          </a>
        </li>
        <li>
          <a routerLink="dashboard/new" routerLinkActive="active" class=" new icon gradient">
            <i class="fas fa-plus gradient"></i>
            <p class="gradient">New</p>
          </a>
        </li>
        <li>
          <a routerLink="dashboard/calendar" routerLinkActive="active" class="icon gradient">
            <i class="fas fa-calendar-alt gradient"></i>
            <p class="gradient">Calendar</p>
          </a>
        </li>
        <li>
          <a routerLink="dashboard/settings" routerLinkActive="active" class="icon gradient">
            <i class="fas fa-cog gradient"></i>
            <p class="gradient">Settings</p>
          </a>
        </li>
      </ul>
    </nav>
  </footer>
  