/* ==========================================================================
     Typography & Links
     ========================================================================== */
     h1,
     h2,
     h3,
     h4,
     h5 {
       font-weight: lighter;
       color: var(--textSecondary);
     }
     
     h2 {
         font-size: 2em;
     }
     
     a {
       color: var(--textSecondary);
       text-decoration: none;
     }
     
     a:hover {
       color: var(--secondaryAccent);
     
       cursor: pointer;
     }
     