<section>
  <h2>{{ landingText }}</h2>
  <div class="quickInfo-container">
    <div class="applications info">
        <p>Total</p>
      <p>Applications</p>
      <b>24</b>
    </div>
    <div class="interviews info">
      <p>Interviews</p>
      <b>3</b>
    </div>
    <div class="offers info">
      <p>Offers</p>
      <b>1</b>
    </div>
  </div>
  <div class="next-steps">
    <h3>Next Steps</h3>
    <div class="suggestion">
        <div class="arrow">
            <i class="fas fa-arrow-right gradient"></i>
        </div>
      <div>
        <h4>Follow up with Codecademy</h4>
        <p>2 days ago</p>
      </div>
      
    </div>
        <div class="suggestion">
        <div class="arrow">
            <i class="fas fa-arrow-right gradient"></i>
        </div>
      <div>
        <h4>Follow up with Codecademy</h4>
        <p>2 days ago</p>
      </div>
      
    </div>
  </div>
</section>
