.quickInfo-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: .5em;
}

.info {
  border: solid 1px;
  height: 100px;
  width: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  background-color: var(--background);
  color: var(--textSecondary);
}

b {
  font-size: 2em;
}

.next-steps {
    border: solid;
    border-radius: 1em;
    margin-top: 1em;
    padding: .5em;
}

.suggestion {
    border: solid;
    border-radius: 1em;
    display: flex;
    align-items: center;
    padding: 0 .15em;
    margin: .5em .5em;
}

.arrow {
    border: solid 1px;
    padding:  .5em;
    margin: .5em;
    border-radius: 100%;
    background-color: var(--background);
}


