/* Root Variables */
:root {
    --background: #1a0e1f;
    --primaryAccent: #ff4f5a;
    --secondaryAccent: #ffb3b3;
    --textSecondary: #e0e0e0;
    --textPrimary: #b18cb0;
    --cardBackground: #0e0812;
    --bordersDividers: #333;
    --borderGlow: #ff007a;
  }
  
  /* Global Styles */
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Layout Styles */
  html,
  body {
    height: 100%;
    min-height: 520px;
    margin: 0;
    padding: 0.5em;
    color: var(--textPrimary);
    background-color: var(--background);
  }
  
  .app-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: solid var(--bordersDividers);
    border-radius: 1em;
    background-color: var(--cardBackground);
    box-shadow: 0 0 1px var(--borderGlow), 0 0 2px var(--borderGlow);
  }
  
  .main-content {
    flex: 1;
    padding: 1em;
  }
  
  section {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  
  app-footer {
    flex-shrink: 0;
  }
  
  /* Typography & Links */
  a {
    color: var(--textSecondary);
  }
  
  a:hover {
    color: var(--secondaryAccent);
    cursor: pointer;
  }
  
  /* Button & Link Styles */
  button {
    cursor: pointer;
  }
  
  /* Gradient Text and Borders */
  .gradient {
    background: linear-gradient(
      90deg,
      var(--textSecondary),
      var(--primaryAccent),
      var(--secondaryAccent)
    );
    background-size: 300%;
    background-position: left;
    transition: background-position 1s ease-in-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  
  button.gradient,
  a.gradient:hover,
  a.gradient:hover > * {
    background-position: right;
  }
  
  .gradient.border {
    border: 2px solid transparent;
    background-position: left;
    border-image: linear-gradient(
      90deg,
      var(--textSecondary),
      var(--primaryAccent),
      var(--secondaryAccent)
    );
    border-image-slice: 1;
  }
  
  .gradient.border:hover {
    background-position: right;
  }
  
  /* Icon Styling */
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }
  
  .icon:hover {
    color: var(--secondaryAccent);
    cursor: pointer;
    transform: scale(1.2); /* Scale up by 10% */
  }
  
  /* Cards */
  .card {
    background-color: var(--cardBackground);
  }
  
  /* List Styling */
  ul {
    list-style-type: none;
  }
  
  /* Border Gradient */
  .border-gradient {
    border: 2px solid transparent;
    border-radius: 0.5em; /* optional */
    background-image: linear-gradient(#1a0e1f, #1a0e1f), linear-gradient(90deg, #ff007a, #550976);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  
  /* Forms */
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5em;
    margin: 1em;
  }
  
  label {
    margin-bottom: .25em;
  }
  
  /* Input Fields */
  input {
    margin-bottom: 1em;
    font-size: .75em;
    padding: .25em .5em;
    border-radius: 5px;
    color: var(--textPrimary);
    background-color: var(--background);
    min-width: 300px;
  }
  
  input:focus {
    border-color: var(--borderGlow); 
    outline: none; 
    box-shadow: 0 0 0 2px var(--borderGlow); 
  }
  